**/alembic.ini
.coverage
**/*.db
*.db
**/*.db-journal
**/*.db-shm
**/*.db-wal
*.egg-info/
**/*.env*
**/.idea
.idea
./issues.ps1
**/*.log
**/logs
**/.migration.*.lock
**/.migration.lock
**/models
non*.txt
.obsidian/workspace.json
prompt
**/__pycache__
**/.pytest_cache
**/recording.wav
*.sh
src/**/.cursorrules
src/extensions/**/env.py
src/extensions/**/__init__.py
**/*.stackdump
**/temp.*
**/tmp*.ini
**/.venv*
venv/
.vscode
**/workspace
